# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~

# Environment variables
.env

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Database (если будешь использовать)
*.db
*.sqlite3